@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: 'Titillium Web', sans-serif;
    }
}

#app-bg {
    background: #021b34;
}

.tr-bg {
    background: rgba(31, 38, 46, 0.4);
}

#main-input {
    background: linear-gradient(to right bottom, #007FFF, #0059B2);
    box-shadow: 0px 1px 6px #004C99,inset 0px 2px 8px #141A1F;
}

input:focus,
input:hover,
button:hover {
    border-color: rgb(0, 200, 255);
    outline: none;
    transition: border-color 0.15s;
}

#disabled:hover {
    border-color: gray;
}

i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.bx-refresh,
.bx-check,
.bxs-bell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 6px;
    padding-right: 6px;
}

.bx-refresh:hover {
    color: rgb(0, 200, 255);
}

.search-btn {
    background: linear-gradient(180deg, #007FFF 0%, #0072E5 100%);
    width: 30%;
    height: 112px;
}

.search-btn:hover {
    background: linear-gradient(180deg, #007FFF 0%, #288ef4 100%);
    color: rgb(0, 200, 255);
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
